
:root {
  //* primary
  --primary-lightest: #b1d6ff;
  --primary-lighter: #76b7ff;
  --primary-light: #3b99ff;
  --primary-base: #007aff;
  --primary-dark: #005ec4;
  --primary-darker: #004289;
  --primary-darkest: #00264e;

  //* Secondary
  --secondary-lightest: #fbecb2;
  --secondary-lighter: #f8df7a;
  --secondary-light: #f5d142;
  --secondary-base: #f7da67;
  --secondary-dark: #b7940a;
  --secondary-darker: #806707;
  --secondary-darkest: #483a04;

  //* GREY
  --grey-100: #f1f1f1;
  --grey-200: #e7e7e7;
  --grey-300: #dddddd;
  --grey-400: #d3d3d3;
  --grey-500: #cacaca;
  --grey-600: #b6b6b6;
  --grey-700: #a2a2a2;
  --grey-800: #8f8f8f;
  --grey-900: #858585;


  //* DARK GREY
  --dark-grey-100: #7b7b7b;
  --dark-grey-200: #717171;
  --dark-grey-300: #5e5e5e;
  --dark-grey-400: #545454;
  --dark-grey-500: #4a4a4a;
  --dark-grey-600: #404040;
  --dark-grey-700: #363636;
  --dark-grey-800: #2d2d2d;
  --dark-grey-900: #232323;

  //* BLACK
  --pure-black: #000000;
  --black: #141414;
  
  //* WHITE
  --pure-white: #ffffff;
  --white: #fcfcfc;
}
